<h1 mat-dialog-title>{{ 'createAlbum.title' | translate }}</h1>
<div mat-dialog-content class="create-album-dialog">
  <mat-form-field appearance="outline" class="full-width no-bottom-margin" subscriptSizing="dynamic">
    <mat-label>{{ 'createAlbum.albumName' | translate }}</mat-label>
    <input matInput [(ngModel)]="data.name" required />
    <mat-error *ngIf="data.name.length === 0">{{ 'createAlbum.albumNameRequired' | translate }}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'common.cancel' | translate }}</button>
  <button mat-button [disabled]="data.name.length === 0" [mat-dialog-close]="data.name" cdkFocusInitial>{{
    'createAlbum.create' | translate }}</button>
</div>