.breadcrumbs {
    display: flex;
    align-items: center;
}

.crumb {
    display: flex;
    align-items: center;
}

button {
    display: flex;
    align-items: center;
}

.mat-mdc-button-base {
    background: none;
}
