<mat-sidenav-container class="sidenav-container-fullscreen full-height">
  <!-- Side Menu -->
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <mat-toolbar color="primary">
      <img src="favicon.ico" alt="Logo" class="logo" />
      {{ 'application.title' | translate }}</mat-toolbar>
    <nav class="menu-list">
      <app-shared-menu [menuItems]="menuItems"></app-shared-menu>
    </nav>
  </mat-sidenav>

  <!-- Main Content (Gallery) -->
  <mat-sidenav-content class="gallery-content">
    <mat-toolbar color="primary" class="toolbar">
      <div class="left-section">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ 'sharedAlbums.title' | translate }}</span>
      </div>

      <div class="spacer"></div>

      <div class="search-bar-container">
        <mat-form-field appearance="outline" class="search-bar" subscriptSizing="dynamic">
          <mat-label>{{ 'search.placeholder' | translate }}</mat-label>
          <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto"
            (keyup.enter)="searchByTag(searchControl.value!)" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchByTag($event.option.value)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </mat-toolbar>


    <div class="content">

      <div class="album-actions-container">

        <app-breadcrumbs [breadcrumbs]="breadcrumbs" [navigateToDomain]="navigateToDomain"
          *ngIf="breadcrumbs.length !== 1" />

        <div class="album-actions">
          <app-share-album-button [currentDomainId]="currentSharedDomainId!" *ngIf="canShareDomain()" />
          <app-show-album-info-button [currentDomainId]="currentSharedDomainId!" *ngIf="currentSharedDomain" />
        </div>

      </div>
      <div *ngIf="!sharedDomains || sharedDomains.length === 0">
        <app-no-albums-card [noAlbumsSharedWithUser]="true" />
      </div>

      <!-- Albums -->
      <app-album-cards [albums]="sharedDomainsMapped" [navigateToDomain]="navigateToDomain"
        *ngIf="!currentSharedDomain" />

      <div *ngIf="(!photos || photos.length === 0) && sharedDomains.length !== 0 && currentSharedDomain && areNewPhotosBeingUploaded === false && arePhotosLoading === false">
        <app-empty-album-card [canUserUploadPhotos]="canUploadPhotos()" />
      </div>

      <div class="spinner-container" *ngIf="arePhotosLoading">
        <mat-spinner diameter="100" />
      </div>

      <app-photo-selection-bar *ngIf="photos.length > 0 && isAtLeastOnePhotoSelected()"
        [selectedPhotosCount]="selectedPhotosCount()" [totalPhotos]="photos.length"
        [canDeletePhotos]="canDeletePhotos()" [canDownloadPhotos]="true" [canDuplicatePhotos]="canDeletePhotos()"
        [canMovePhotos]="false" [canSetAsAlbumCover]="false" (toggleSelectAll)="toggleSelectAll($event)"
        (download)="downloadPhotos()" (duplicate)="openDuplicateDialog()" />

      <app-photo-cards [photos]="photos" [selectedPhotos]="selectedPhotos" (photoClicked)="viewPhoto($event)"
        (photoSelectionChanged)="togglePhotoSelection($event.photoId, $event.checked)"
        [areNewPhotosBeingUploaded]="areNewPhotosBeingUploaded" />

      <app-upload-button [event]="uploadEvent" [domainId]="currentSharedDomain.id" (done)="onUploadComplete()"
        (started)="onUploadStarted()" *ngIf="currentSharedDomain &&  canUploadPhotos()" />

      <app-photo-viewer *ngIf="isPhotoViewerOpen" [photos]="photos" [currentPhotoIndex]="selectedPhotoIndex"
        [currentPhotoId]="photos[selectedPhotoIndex].id" [editable]="canUploadPhotos()" (close)="closePhotoViewer()" />

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>